{% extends "layout.html.twig" %}

{% block content %}
   {% if response|length == 0 %}
      <p>Извините данных за это число нет</p>
      {% else %}
         <p>На {{ response. chooseDate}} при курсе {{ response.result }} сумма составит {{ response.sum }}</p>
         {% endif %}
{% endblock %}